.slider {
	padding-top: 80px;
	background-color: $primary-blue;	
	position: relative;
	padding-bottom: 619px;
	height: 0;
	
	&::before {
		content: '';
		background-color: $primary-blue;
		position: absolute;
		top:-200px;
		height: 200px;
		width: 100%;
	}
}
.gallery {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: calc(100% - 80px);
	overflow: hidden;
	
	&::before, &::after {
		content: '';
		position: absolute;
		backdrop-filter: blur(6px);
		top: 0;
		left: 0;
		bottom: 0;
		width: calc((100% - 1140px) / 2);
		z-index: 10;
	}
	&::after {
		left: auto;
		right: 0;
	}
}

.gallery-cell {
	width: 100%;
	max-width: 1100px;
	height: 100%;
	margin: 0 10px;
	transition: filter 200ms linear;
	
	&:not(.is-selected) {
		//filter: blur(5px);	
	}
	
	img {
		width: 100%;
		height: auto;
	}
}

.controls {
	position: absolute;
	left: calc((100% - 1100px) / 2);
	bottom: 20px;
	padding: 25px;
	
	svg {
		fill: rgba($brand-black, 0.8);	
	}
}

.play-pause {
	
	svg {
		height: 100%;
		width: 100%;
		transition: transform 200ms;
		transform: translate(-21%,-20%);
	}
		
	&.paused svg {
		transform: translate(-17%,-20%);
	}
}

.quick-links {
	position: absolute;
	top: 40px;
	right: calc((100% - 1000px) / 2);
	width: 345px;
	height: calc(100% - 40px);
	background-color: white;
	text-align: center;
	padding: 0.8em 1.5em;
	
	&::before {
		content: '';
		position: absolute;
		top: -17px;
		left: 0;
		width: 100%;
		height: 17px;
		background-color: $brand-green;
		border-top-left-radius: 17px;
		border-top-right-radius: 17px;
	}
	
	h1 {
		color: $primary-blue;
		font-size: 3em;
		margin: 0;
		margin-bottom: 1em;
		font-weight: 300;
	}
	
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		display: block;
		position: relative;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			height: 1px;
			width: 70%;
			background-color: $brand-green;
			z-index: 0;
			transition: height 250ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
		}
		
		&:hover {
			&::before {
				height: 100%;
			}
			
			a {
				color: white
			}
		}
		
		a {
			display: block;
			padding: 0.9em;
			color: $brand-black;
			font-size: 1.9em;
			font-weight: 100;
			text-decoration: none;
			z-index: 1;
			position: relative;
		}
	}
}

.news {
	background-color: $brand-white;
	padding: 20px 0 50px;
	overflow: hidden;
	
	.contain {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		> * {
			flex: 0 1 30%;		
		}
	}
	
	article {
		color: $brand-grey;
		font-weight: 100;
		
		h3 {
			color: $brand-green;
			font-weight: 300;
			font-size: 1.4em;
			text-transform: uppercase;
		}
		
		img {
			width: 100%;
			height: auto;
		}
	}
}

.links {
	
	h2 {
		color: $primary-blue;
		font-size: 1.6em;
	}
}

.link-contain {
	position: relative;
	
	&::before {
		content: '';
		position: absolute;
		height: 15px;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: linear-gradient(to bottom, rgba($brand-white,1), rgba($brand-white,0));
	}

	&::after {
		content: '';
		position: absolute;
		height: 15px;
		width: 100%;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to top, rgba($brand-white,1), rgba($brand-white,0));	
	}
}

.link-wrap {
	max-height: 220px;
	padding-right: 15px;
	overflow: auto;
	
	a {
		display: block;
		position: relative;
		width: 97%;
		font-size: 1.2em;
		color: lighten($brand-black, 15%);
		text-decoration: none;
		padding-top: 10px;
		padding-right: 16px;
		padding-left: 8px;
		padding-bottom: 10px;
		transition: background-color 200ms;
		
		+ a {
			border-top: 1px solid lighten($brand-grey, 35%);
		}
		
		span {
			display: block;
			padding-top: 4px;
			color: lighten($brand-black, 15%);
			font-size: 0.725em;
			font-weight: 100;
		}
		
		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			right: 0;
			top: calc(50% - 8px);
			width: 0; 
			height: 0; 
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 8px solid $primary-blue;
			transition: transform 200ms;
		}
		
		&:hover {
			color: $secondary-blue;
			background-color: rgba(white, 0.4);
			
			&::after {
				transform: translateX(8px);
			}
		}
	}
}

.about {
	background-color: $secondary-blue;
	background-image: url(../img/team.png);
	background-repeat: no-repeat;
	background-position: 92% 100%;
	color: white;
	padding: 10px 0 80px;
	
	.contain {
		position: relative;	
	}

	article {
		display: inline-block;
		width: calc(100% - 200px);
		margin-left: 200px;
	}
	
	h1 {
		font-size: 3.5em;
		margin-bottom: 0.2em;
	}
	span {
		font-size: 1.5em;
		font-style: italic;
	}
	p {
		width: 60%;
		font-size: 1.25em;
		font-weight: 100;
		line-height: 1.5;
		margin-top: 2em;
	}
}

.about-nav {
	background-color: white;
	display: inline-block;
	position: absolute;
	top: -40px;
	left: 0;
	z-index: 1;
	width: 200px;
	
	ul {
		margin: 0;
		padding: 5px 25px;
		list-style: none;
	}
	
	a {
		display: block;
		color: $brand-green;
		font-size: 1.35em;
		text-decoration: none;
		padding: 15px 0;
		
		&::after {
			width: 18px;
			height: 18px;
			display: inline-block;
			margin-left: 0.4em;
			vertical-align: -0.2ex;
			transition: transform 200ms;
		}
		
		&:hover {
			color: lighten($brand-green, 10%);
			
			&::after {
				transform: translateX(3px);
			}
		}
	}
		
	li + li {
		border-top: 2px solid $brand-green;
	}
	
	.indentation-wrap {
		height: 15px;
		margin-top: 0;
	}
	.indentation {
		height: 15px;
	}
}

@media (max-width: 1100px) {
	.slider {
		padding-bottom: 56.25%; /* 16:9 */
	}
		
	.controls {
		left: 0;
	}
	.gallery {
		&::before, &::after {
			content: none;
		}
	}
	
	.quick-links {
		font-size: 0.9em;
		width: 33%;
	}
	.about {
		background-size: 32%;
		background-position: 95% 100%;
	}
}

@media (max-width: 1000px) {
	.quick-links {
		font-size: 0.8em;
		right: 10px;
	}
}

@media (max-width: 850px) {
	.quick-links {
		font-size: 0.7em;
	}
}

@media (max-width: 768px) {
	.quick-links {
		font-size: 0.65em;
	}

	.controls {
		display: none;
	}
	
	.news .contain {
		
		article {
			flex: 0 1 47.5%;
		}
		.links {
			flex: 0 1 100%;	
		}
	}
	.about {
		article {
			margin-left: 0;
			width: 100%;
		}
		p	{
			width: 80%;
		}
	}
	
	.link-contain {
		&::before,&::after {
			content: none;
		}
	}
	.link-wrap {
		max-height: none;
		padding-right: 0;
	}
	
	.about {
		background-size: auto 35%;
	}
	.about-nav {
		position: static;
    margin-left: -3.3%;
    margin-top: 15px;
    border-radius: 0 20px 20px 0/0 15px 15px 0;

    .indentation-wrap {
	    display: none;
    }
	}
	
}

@media (max-width: 700px) {
	.quick-links {
		width: 100%;
		right: 0;
		top: calc(100% - 17px);
	
		h1 {		
			margin: 0.5em 0 1em;
		}		
	}
	.slider {
		padding-top: 0;
	}
	.gallery {
		top: 0;
		height: 100%;
	}
	
	.slider {
		margin-bottom: 400px;
	}
}

@media (max-width: 600px) {
	.about {
		background-size: auto 31%;
	}
}

@media (max-width: 600px) {
	.about {
		background-size: auto 26%;
		padding: 10px 0 60px;
	}
}

@media (max-width: 500px) {
	.about {
		background-image: none;
		padding-bottom: 0;
	}
	.about-nav {
		margin: 10px 0 0;
		border-radius: 0;
		width: 106.7%;
    padding-bottom: 25px;
    margin-left: -3.3%;
    margin-right: -3.3%;
		
		&::before {
	    content: '';
	    display: block;
	    width: 100%;
	    height: 220px;
	    background-image: url(../img/team.png);
	    background-size: cover;
			background-color: $secondary-blue;
		}
		
		li {
			text-align: center;
		}
	}
}

@media (max-width: 490px) {
	.about h1 {
		font-size: 2.8em;
	}
}

@media (max-width: 430px) {
	.about p {
		width: 100%;
	}
}

@media (max-width: 375px) {
	.news .contain article {
		flex: 0 1 100%;
	}	
}