@import 'normalize';
@import 'variables';

// Global tag name styles
* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-size: 100%;
	font-family: $font;
	font-weight: 300;
	//temp
	min-height: 200vh;
}

a {
	color: $secondary-blue;
	transition: color 200ms;
	
	&:hover {
		color: lighten($secondary-blue, 5%);
	}
	
	&:focus {
		color: lighten($secondary-blue, 5%);
		outline: none;
	}
}

main {
	margin-top: 167px;	
}

// Major classes
.contain {
	height: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 40px;
	padding-left: 40px;
}


// Imports corresponding to the equivalent .jade partial
@import 'includes/header';
@import 'includes/footer';

// Imports: templates
@import 'includes/login';

// Media queries for this file's rules
@media (max-width: 1100px) {
	.contain {
		padding-right: 3.2727%;
		padding-left: 3.2727%;
	}
}