@import 'includes/normalize';
@import 'includes/variables';
@import 'includes/flickity';

// Global tag name styles
* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-size: 100%;
	font-family: $font;
	font-weight: 300;
}

a {
	color: $secondary-blue;
	transition: color 200ms;
	
	&:hover {
		color: lighten($secondary-blue, 5%);
	}
	
	&:focus {
		color: lighten($secondary-blue, 5%);
		outline: none;
	}
}

main {
	margin-top: 142px; // header height
	position: relative;
	
	&::before {
		content: '';
		background-color: $primary-blue;
		position: absolute;
		top: -500px;
		height: 500px;
		width: 100%;
	}
}

h1,h2,h3 {
	font-weight: 500;
}

p {
	line-height: 1.5;
	font-size: 1em;
	margin: 0;
	
	+ p {
		margin-top: 1em; 
	}
}

ul {
	margin: 1em 0;
	padding-left: 0.7em;
	list-style-position: inside;
}
li {
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
	
	&.left {
		float: left;
		margin: 1em 1em 1em 0;
	}
	&.right {
		float: right;
		margin: 1em 0 1em 1em;
	}
	&.top {
		margin-top: 0;
	}
}

// Major classes
.contain {
	height: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 40px;
	padding-left: 40px;
}

.indentation-wrap {
	margin-top: -24px;
	height: 30px;
	position: relative;
	z-index: 1;
	
	&.brand-white {
		.indentation {
			background-color: $brand-white;
		}
	}
	&.secondary-blue {
		.indentation {
			background-color: $secondary-blue;
		}
	}
	&.brand-green {
		.indentation {
			background-color: $brand-green;
		}
	}
}

.indentation {
	background-color: white;
	height: 30px;
	width: 50%;
	float: left;
	
	&.left {
		border-radius: 0 40px 0 0/0 25px 0 0;
		box-shadow: 0px -3px 6px -2px rgba(0,0,0,0.2);
	}
	&.right {
		border-radius: 40px 0 0 0/25px 0 0 0;
		box-shadow: 0px -3px 6px -2px rgba(0,0,0,0.2);
	}
}

.read-more {
	color: $brand-green;
	float: right;
	font-size: 0.9em;
	font-weight: 500;
	text-decoration: none;
	transition: transform 200ms;
	transform-origin: right center;
	
	
	&:hover {
		color: $brand-green;
		transform: scale(1.06);
	}
}

.arrow {
	&::after {
		content:'';
		background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M100,50 C100,59.0711806 97.7647569,67.437066 93.2942708,75.0976562 C88.8237847,82.7582465 82.7582465,88.8237847 75.0976562,93.2942708 C67.437066,97.7647569 59.0711806,100 50,100 C40.9288194,100 32.562934,97.7647569 24.9023438,93.2942708 C17.2417535,88.8237847 11.1762153,82.7582465 6.70572917,75.0976562 C2.23524306,67.437066 0,59.0711806 0,50 C0,40.9288194 2.23524306,32.562934 6.70572917,24.9023438 C11.1762153,17.2417535 17.2417535,11.1762153 24.9023438,6.70572917 C32.562934,2.23524306 40.9288194,0 50,0 C59.0711806,0 67.437066,2.23524306 75.0976562,6.70572917 C82.7582465,11.1762153 88.8237847,17.2417535 93.2942708,24.9023438 C97.7647569,32.562934 100,40.9288194 100,50 L100,50 Z" fill="#00AA71"></path><path d="M84.0323422,50.2232209 C84.0323422,49.0461141 83.6399733,48.0651918 82.8552355,47.280454 L76.9043069,41.3295255 L53.2313825,17.6566011 C52.4466447,16.8718633 51.4657224,16.4794943 50.2886157,16.4794943 C49.1115089,16.4794943 48.1305867,16.8718633 47.3458488,17.6566011 L41.3949203,23.6075296 C40.6101825,24.3922674 40.2178136,25.3731897 40.2178136,26.5502964 C40.2178136,27.7274032 40.6101825,28.7083255 41.3949203,29.4930633 L53.7545411,41.852684 L20.926342,41.852684 C19.7928318,41.852684 18.8119095,42.2668512 17.9835752,43.0951856 C17.1552408,43.92352 16.7410736,44.9044423 16.7410736,46.0379525 L16.7410736,54.4084893 C16.7410736,55.5419995 17.1552408,56.5229217 17.9835752,57.3512561 C18.8119095,58.1795905 19.7928318,58.5937577 20.926342,58.5937577 L53.7545411,58.5937577 L41.3949203,70.9533784 C40.5665859,71.7817128 40.1524188,72.7626351 40.1524188,73.8961453 C40.1524188,75.0296555 40.5665859,76.0105777 41.3949203,76.8389121 L47.3458488,82.7898406 C48.1305867,83.5745785 49.1115089,83.9669474 50.2886157,83.9669474 C51.4657224,83.9669474 52.4466447,83.5745785 53.2313825,82.7898406 L76.9043069,59.1169162 L82.8552355,53.1659877 C83.6399733,52.3812499 84.0323422,51.4003276 84.0323422,50.2232209 L84.0323422,50.2232209 Z" fill="#FFFFFF"></path></svg>');
		background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: -0.3ex;
	}	
}

// Media queries for this file's rules
@media (max-width: 1100px) {
	.contain {
		padding-right: 3.2727%;
		padding-left: 3.2727%;
	}
}

@media (max-width: 700px) {
	body {
		font-size: 0.9em;
	}
}

@media (max-width: 500px) {
	p, ul {
		font-size: 1.125em;
	}
	.contain {
		padding-left: 4.5%;
		padding-right: 4.5%;
	}
}

// Imports corresponding to the equivalent .jade partial
@import 'includes/header';
@import 'includes/footer';

// Page specific styleas
@import 'home';
@import 'interior';