doctype html
html
	include includes/head.jade
	body.login
		.container.login
			.row
				.col-sm-5.col-sm-offset-7
					.panel
						.panel-heading
							.row-fluid 
								img(src="https://peoplestrustinsurance.com/Sitefinity/WebsiteTemplates/PTI/App_Themes/PTI/Images/PTI/pti-logo-color.svg")/-placeholder
						.panel-body
							form.login
								.group
									input#email.form-control(type="email", placeholder="Email Address")
									input#password.form-control(type="password", placeholder="Password")
									input#login.btn(type="submit", value="Log in")
						.panel-footer
							p
								a#js-forgot-pass.forgot-pass(href="#")| Forgot Password?
							p Call Agency Services at 
								a(href="tel:#")| 1-800-555-5555	
	.footer.login
		.contain
			.copyright
				a(href="tel:#")| Terms &amp; Conditions
				a(href="tel:#")| Privacy Policy
				.copy-text &copy; 2015 People's Trust Agency Partners