doctype html
html
	include includes/head.jade
	body.login
		.container.login
			.row
				.col-sm-5.col-sm-offset-7
					.panel
						.panel-heading
							.row-fluid 
								img.img-responsive(src="https://peoplestrustinsurance.com/Sitefinity/WebsiteTemplates/PTI/App_Themes/PTI/Images/PTI/pti-logo-color.svg")/-placeholder
						.panel-body
							form.form-signin
								fieldset
									label.panel-login
									input#username.form-control(type="text", placeholder="Username")
									input#password.form-control(type="password", placeholder="Password")
									br
									br
									input#login.btn.btn-lg.btn-success.btn-block(type="submit", value="Login »")
									
										
				
		