// Login page styles

@import '../includes/bootstrap-grid';

body {
	&.login {
		min-height: 100%;
		height: 100%;
		@include breakpoint(md) { //only show scrollbars on sm
			min-height: 100vh;
			height: 100vh;
		}
		background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/textured_paper.png'); //placeholder
		overflow-x: hidden;
	}	
}

.container.login {
	padding-top: 30px;
	@include breakpoint(md) {
		padding-top: 175px;
	}
	
	.panel {
		padding: 25px;
		background: white;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba($brand-grey,0.75);
	}
	
	.panel-heading {
		img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: auto;
		}
	}
	
	.panel-body {
		//
	}
	
	.panel-footer {
        margin-top: 30px;
        padding-top: 10px;
        color: $brand-grey;
        border-top: 2px solid $brand-white;
        p {
	        font-style: italic;
	        a {
	        	color: $brand-grey;
				text-decoration: none;
				&:hover {
		        	color: $primary-blue;
		        	text-decoration: underline;
				}
			}
		}
	}

}//container.login end

//Login Form
form.login {
	margin-top: 60px;
	
	input { 
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		font-size: 1em;
        padding: 10px;
        background-color: $brand-white;
        background-image: none;
        border: 1px solid darken($brand-white,7%);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border-radius: 4px;
        box-sizing: border-box;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    &:focus {
            border-color: $primary-blue;
			box-shadow: 0 1px 1px rgba(black, 0.075) inset, 0 0 8px rgba($primary-blue, 0.6);
			outline: 0 none;
		}
	}
	
	.btn {
		background-color: $brand-green;
		color: white;
		border: none;
		text-transform: uppercase;
		transition: background-color ease-in-out .3s;
		@include breakpoint(md) {
			max-width: 150px;
		}
		&:hover {
			background-color: darken($brand-green,7%);
		}
	}
	
}

.footer.login {
	position: relative;
	height: auto;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
    @include breakpoint(md) {
    	position: fixed;
    	height: 65px;
    	margin-bottom: 0;
    }
    
    .contain {
	    height: 100%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
    
	.copyright {
		margin: 0;
		padding: 15px 0;
		color: $brand-grey;
		text-align: center;
		@include breakpoint(md) {
    		float: right;
    		padding: 0;
		}
		a {
			color: $brand-grey;
			margin: 0 10px;
			@include breakpoint(md) {
				margin-right: 60px;
			}
		}
	}
	.copy-text {
		display: block;
		margin: 25px auto 0;
		@include breakpoint(md) {
			display: inline-block;
		}
	}
	
}